.card {
  width: 282px;
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0 0;
}

.card__description {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: space-around;
  border-radius: 0 0 10px 10px;
  padding: 27.5px 20px;
}

.card__text {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29.05px;
  color: #000;
  margin: 0;
  width: 219px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background-image: url(../images/Heart.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  width: 21px;
  height: 18px;
  border: none;
}

.card__like-button:hover {
  opacity: 50%;
  transition: 0.2s linear;
  cursor: pointer;
}

.card__like-button_active {
 background-image: url(../images/Filled-Heart-Real.svg);
}
