.header {
  max-width: 880px;
  border-bottom: 1px solid;
  border-color: rgba(84, 84, 84, 1);
  margin-top: 45px;
}

.header__logo {
  height: 33px;
  width: 173px;
  padding-bottom: 41px;
}

@media screen and (max-width: 635px) and (min-width: 320px) {
  .header__logo {
    padding-bottom: 32px;
    margin-left: 27px;
  }
}
